archive/
resources/sass/.sass-cache/
build/production/
build/testing/
build/temp/
stderr.txt
luxmob-svn/
bootstrap.js

cordova-app/platforms/android/assets/www
cordova-app/www
cordova-app/platforms/android/CordovaLib/ant-build/
cordova-app/platforms/android/CordovaLib/ant-build/
cordova-app/platforms/android/CordovaLib/ant-gen/
cordova-app/platforms/android/CordovaLib/bin/
cordova-app/platforms/android/bin/
cordova-app/platforms/android/ant-build/
cordova-app/platforms/android/ant-gen/
cordova-app/platforms/android/assets/www/GeolocateControl.js
cordova-app/platforms/android/assets/www/SavedMapLayer.js
cordova-app/platforms/android/assets/www/app.js
cordova-app/platforms/android/assets/www/cordova-2.5.0.android.js
cordova-app/platforms/android/assets/www/openlayers-mobile.js
cordova-app/platforms/android/assets/www/proj4js-compressed.js
cordova-app/platforms/android/assets/www/resources/
cordova-app/platforms/android/assets/www/webintent.js
cordova-app/www/GeolocateControl.js
cordova-app/www/SavedMapLayer.js
cordova-app/www/app.js
cordova-app/www/cordova-2.5.0.android.js
cordova-app/www/openlayers-mobile.js
cordova-app/www/proj4js-compressed.js
cordova-app/www/resources/
cordova-app/www/webintent.js
