archive/
resources/sass/.sass-cache/
build/cordova-ios/www/app.js
build/cordova-ios/www/GeolocateControl.js
build/cordova-ios/www/openlayers-mobile.js
build/cordova-ios/www/capabilities.xml
build/cordova-ios/www/app.json
build/cordova-ios/www/cache.appcache
build/cordova-ios/www/index.html
build/cordova-ios/www/resources/
build/cordova-ios/www/app/
build/cordova-ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
build/cordova-ios/LuxMob.xcodeproj/project.pbxproj
build/cordova-ios/LuxMob.xcodeproj/project.xcworkspace/
build/cordova-ios/LuxMob.xcodeproj/xcuserdata/
build/cordova-ios/CordovaLib/build/
build/cordova-ios/build/
build/cordova-android/local.properties
build/cordova-android/assets/www/app.js
build/cordova-android/assets/www/GeolocateControl.js
build/cordova-android/assets/www/openlayers-mobile.js
build/cordova-android/assets/www/capabilities.xml
build/cordova-android/assets/www/app.json
build/cordova-android/assets/www/cache.appcache
build/cordova-android/assets/www/index.html
build/cordova-android/assets/www/resources/
build/cordova-android/assets/www/app/
build/cordova-android/bin/
build/cordova-android/gen/
build/App/production/
build/App/testing/
build/App/package/
stderr.txt
