<?xml version='1.0' encoding='utf-8'?>
<widget id="com.c2c.LuxMob" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>geoportail.lu</name>
    <description>
        Geoportail.lu mobile application
    </description>
    <author email="info@camptocamp.com" href="http://www.camptocamp.com">
        Camptocamp 
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
